@import "variables";

body {
  background-color: $white;
}

// Fixing Carousel
.carousel {
  height: 100vh;

  .carousel-inner {
    .w-100 {
      height: 100vh;
    }
  }
}

// Fixing Carousel Indicator
div#carousel > .carousel-indicators {
  bottom: 60px!important;

  li {
    height: 14px;
    width: 14px;
    border: solid $white 3px;
    transform: rotate(45deg);
    background-color: transparent;

    &:nth-child(2) {
      margin: 0 30px;
    }

    &.active {
      background-color: $white;
    }
  }
}

.container-fluid.main {
  position: relative; /* To make the navbar positions relative to this container */
  padding: 0;
  margin-bottom: 40px;
}

.navbar {
  background-image: none;
  background-color: transparent!important; /* Make the menu become transparent */
  padding: 10px;
  position: absolute; /* Make the menu out of the document flow so it can placed anywhere without disturbing other widgets */
  top: 0;
  left: 0;
  right: 0;
  z-index: 10; /* If you delete this line, your menu link won't be clicked because it is behind the background. Applying this code bring the menu in front of the background */
}

.navbar-collapse {
  width: unset;
}

// Fix les liens dans la nav
.navbar-nav .nav-item {
  margin-right: 35px;
}

.nav-link.active, .nav-link {
  color: $white!important;
  text-transform: uppercase;
  font-size: 14px;

  &:hover, &:focus {
    color: $white;
  }
}

.coverImg {
  position: absolute;
  top: 270px;
  left: 0;
  right: 0;
}

.coverText {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  z-index: 2;
}

.logo {
  z-index: 2;
}

// Newsletter
#newsletterContainer {
  text-transform: uppercase;
  margin-bottom: 80px;

  h1 {
    font-family: $comfortaBold;
    color: $dark;
    text-transform: uppercase;
    font-size: $title;
  }

  h2 {
    font-family: $segoeuil;
    font-size: 20px;
    margin-bottom: 40px;
  }

  form input {
    border: none;
    border-bottom: solid $primary 2px;
    font-size: 10px;
    color: #9F9F9F;
    width: 24%;
    background-color: $white;

    &:focus {
      outline: none;
    }
  }

  button#newsletter {
    text-transform: uppercase;
  }
}

// About

#aboutSection {
  margin-bottom: 40px;

  #text {
    h1 {
      font-family: $comfortaBold;
      color: $dark;
      font-size: $title;
      text-transform: uppercase;
      margin-bottom: 15px;
    }

    h2 {
      font-family: $comfortaBold;
      text-transform: uppercase;
      font-size: $subtitle;
    }

    p {
      font-family: $segoeuil;
      text-align: center;
      color: $dark;
      line-height: 21px;
      font-size: 16px;
      margin-bottom: 44px;
    }
  }

  #firstImg {
    width: 384px;
    height: 518px;
    object-fit: cover;
  }

  #secondImg {
    width: 359px;
    height: 264px;
    object-fit: cover;
  }
}

#separation {
  background-color: $dark;
  min-height: 256px;
  margin-bottom: 50px;

  h1 {
    font-family: $comfortaBold;
    font-size: 27px;
    color: $white;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  p {
    font-family: $comfortaRegular;
    font-size: 12px;
    color: $white;
    text-transform: uppercase;
  }
}

// Gallery
#gallery {
  margin-bottom: 60px;

  h1 {
    font-family: $comfortaBold;
    color: $dark;
    font-size: $title;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  h2 {
    font-family: $comfortaRegular;
    text-transform: uppercase;
    font-size: $subtitle;
    margin-bottom: 35px;
  }

  #images {
    position: relative;

    #textSign {
      position: absolute;
      left: 14px;
      top: 148px;
    }

    #selectedImg {
      width: 528px;
      height: 484px;
      object-fit: cover;
      margin-left: 95px;
      margin-bottom: 20px;
    }

    .squareNude {
      margin-left: 70px;
      margin-bottom: 20px;
    }

    h1 {
      text-align: center;
      font-size: $title;
      font-family: $comfortaBold;
      color: $dark;
      margin-bottom: 14px;
      text-transform: uppercase;
      margin-left: 70px;
    }

    h2 {
      text-align: center;
      margin-left: 70px;
      font-size: 13px;
      color: $dark;
      font-family: $comfortaRegular;
      margin-bottom: 30px;
      text-transform: uppercase;
    }

    #textSign {
      width: 142px;
      height: 400px;
      object-fit: cover;
    }

    .contactme {
      margin-left: 70px;
    }
  }

  #imagesOnGallery {
    max-height: 677px;
    overflow-y: scroll;

    .imagegallery {
      margin-bottom: 30px;

      .thumbnails {
        width: 289px;
        height: 200px;
        object-fit: cover;
      }

      .squareNude {
        margin-bottom: 23px;
      }
    }
  }
}

// Stones
#stones {
  background-color: $dark;
  margin-bottom: 100px;
  padding-bottom: 65px;

  .container {
    padding: 0;
  }

  h1 {
    font-family: $comfortaBold;
    font-size: 22px;
    text-transform: uppercase;
    color: $white;
    margin-top: 45px;
    margin-bottom: 10px;
  }

  h2 {
    font-family: $comfortaRegular;
    font-size: 18px;
    color: $white;
    text-transform: uppercase;
  }

  hr {
    width: 100%;
    border: solid $white 2px;
    margin: 0 0 28px 0;
  }

  input {
    border: none;
    border-bottom: solid $white 2px;
    color: $white;
    background-color: transparent;
    outline: none;
    font-size: 13px;
    width: 70%;


    &::placeholder {
      color: $white;
    }
  }

  .inputWBtn {
    margin-bottom: 40px;
  }

  // thumbnail section
  .thumbnailInformations {
    .thumbnailsMini {
      width: 144px;
      height: 144px;
      object-fit: cover;
    }

    .thumbnailTitle {
      font-family: $comfortaRegular;
      font-size: 13px;
      margin-bottom: 18px;
      margin-top: 0;
    }

    .thumbnailText {
      font-family: $segoeuil;
      font-size: 12px;
      color: $white;
    }
  }

  .dropdown {
    width: 70%;
  }

  #stonesgallery {
    height: 465px;
    overflow-y: scroll;

    hr {
      margin-bottom: 0;
      width: 70%;
    }

    .btn.btn-primary.read {
      font-size: 11px;
      margin-right: 25px;
    }
  }
}


// Customize buttons
.btn.btn-primary {
  background-color: $primary;
  border: solid transparent 2px;
  text-transform: uppercase;

  &:hover {
    background-color: $white;
    color: $primary;
    border: solid $primary 2px;
  }

  &:focus, &:active {
    outline: none !important;
    box-shadow: none;
  }
}

.btn.btn-secondary {
  background-color: $white;
  color: $primary;
  border: solid $primary 2px;

  &.contactme {
    width: 220px;
    height: 55px;
    text-align: center;
    text-transform: uppercase;
    font-family: $comfortaBold;

    &:hover {
      background-color: $primary;
      color: $white;
    }

    &:focus, &:active {
      outline: none !important;
      box-shadow: none;
    }
  }
}

// Select / options

.dropdown {
  button.btn.btn-secondary {
    background-color: transparent;
    border: none;
    border-bottom: solid $white 2px;
    border-radius: 0;
    color: $white;
    outline: none;
    width: 100%;
    text-align: left;
    font-size: 13px;
    margin-left: 0;
    padding-left: 5px;

    &:focus, &:active {
      outline: none !important;
      box-shadow: none;
    }
  }

  ul.dropdown-menu {
    width: 100%;
  }
}

// Squares

.squareNude {
  border: solid $primary 2px;
  transform: rotate(45deg);
  width: 15px;
  height: 15px;
}

// Scrollbar

body::-webkit-scrollbar, ::-webkit-scrollbar {
  width: 17px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track, ::-webkit-scrollbar-track {
  background: #EEEEEE;        /* color of the tracking area */
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb {
  background-color: $primary;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #EEEEEE;  /* creates padding around scroll thumb */
}
